#s1{
  position: fixed;
  left: 38%;
  top: 19%;
    transform: rotate(70deg);
}
#s2{
  position: absolute;
  left: 33.5%;
  top: 43%;
}

#l1{
  position: absolute;
  left: 44%;
  top: 20%;
  transform: rotate(115deg);
}
#l2{
  position: absolute;
  left: 39%;
  top:35%;
  transform: rotate(115deg);
}

td{
  font-size:20px;
}

h2{
  font-family: fantasy;
  font-size: 50px;
  text-align: center;
}
